.shopCategory-banner{
    display: flex;
    margin: 30px;
    width: 82%;

}
.ShopCategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
}
.ShopCategory-sort{
    padding: 10px 20px;
     border-radius: 40px;
     border: 1px solid;
}
.ShopCategory-indexSort span{
     font-weight: 600;
}
.shopCategory-products{
    margin-top: 20px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    gap: 10px;

}
.ShopCategory-loadMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 230px;
    height: 70px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;

}
